---
layout: full
title: Projects
---

<div id="home" class="page">
  <div id="name">
    <h1>Projects &bull; <span class="tagline">GitHub Repositories<span></h1>
  </div>
  <ul id="nav">
    {% for link in site.navigation %}
    {% capture currentLink %}{{ link.url }}index.html{% endcapture %}
    <li {% if page.url == currentLink %}class="active"{% endif %}>
      <a href="{{ link.url }}">{{ link.text }}</a>
    </li>
    {% endfor %}
    <!-- Contact Modal -->
    <li><a href="#" data-reveal-id="contact-modal">Contact</a></li>
  </ul>
</div>

<div id="contact-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Contact Details</h2>
  <p class="lead">You can contact me by email at: me <i class="fa fa-at"></i> alanplotko.com</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>