<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    
    <link rel="stylesheet" href="/assets/css/foundation.min.css" />

    {% if page.layout == "full" %}
        <link rel="stylesheet" href="/assets/css/splash.css?bust={{ site.time | date: '%s' }}" />
    {% else %}
        <link rel="stylesheet" href="/assets/css/main.css?bust={{ site.time | date: '%s' }}" />
    {% endif %}

    {% if page.layout == "post" %}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400|Open+Sans:800|Noto+Serif" type="text/css">
    {% elsif page.layout == "full" %}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400" type="text/css">
    {% else %}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400|Open+Sans:400" type="text/css">
    {% endif %}

    <link rel="shortcut icon" href="/favicon.ico">
    <script src="/assets/js/vendor/modernizr.js"></script>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' }}">
</head>