<nav class="top-bar" data-topbar role="navigation">
  <!-- Title Area -->
  <ul class="title-area">
    <li class="name">
      <h1 class="cloud-icon"><a href="{{ site.url }}">Alan Plotko</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <!-- Right Nav Section -->
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#">About</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Resume</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </section>
</nav>