<nav class="top-bar" data-topbar role="navigation">
  <!-- Title Area -->
  <ul class="title-area">
    <li class="name">
      <h1 class="cloud"><a href="{{ site.url }}">Alan Plotko</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <!-- Right Nav Section -->
  <section class="top-bar-section">
    <ul class="right">
      {% assign url = page.url | remove: 'index.html' %}
      {% for link in site.navigation %}
        <li {% if url == link.url %}class="active"{% endif %}>
          <a href="{{ link.url }}">{{ link.text }}</a>
          {% if url == link.url %}<div id="underline"></div>{% endif %}
        </li>
      {% endfor %}
      <!-- Contact Modal -->
      <li><a href="#" data-reveal-id="contact-modal">Contact</a></li>
    </ul>
  </section>
</nav>

<div id="contact-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Contact Details</h2>
  <p class="lead">You can contact me by email at: me <i class="fa fa-at"></i> alanplotko.com</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>