<nav class="top-bar" data-topbar role="navigation">
  <!-- Title Area -->
  <ul class="title-area">
    <li class="name">
      <h1 class="cloud"><a href="{{ site.url }}">Alan Plotko</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <!-- Right Nav Section -->
  <section class="top-bar-section">
    <ul class="right">{% assign url = page.url | remove: 'index.html' %}{% for link in site.navigation %}
        <li {% if url == link.url %}class="active"{% endif %}>
          <a href="{{ link.url }}">{{ link.text }}</a>{% if url == link.url %}<div id="underline"></div>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
</nav>