<script src="/assets/js/vendor/jquery.js"></script>
<script src="/assets/js/foundation.min.js"></script>
<script>
    $(document).ready(function() {

        // If .svg format is not supported, replace all .svg's with .png's
        if (!Modernizr.svg) {
            $("img[src$='.svg']").each(function () {
                $(this).attr("src", $(this).attr("src").replace(/svg/g, "png"));
            });
        }

        {% if page.url == "/projects/index.html" %}

        $.ajax({
            url: "https://api.github.com/users/alanplotko/repos",
        }).done(function(data) {
            $.each(data, function(key, value) {
                if(!value.fork)
                {
                    var htmlString = "<li class='card wide small-12 medium-12 large-5'><h2><a class='post-link' href='" + value.html_url + "'>" + value.name + "</a></h2><hr /><p>" + value.description + "</p></li>";
                    $("#repos-list").append(htmlString);
                }
            })
        });
        
        {% endif %}

    });

    $(document).foundation();
</script>