/* ---------------------------
	Global: Main Navigation
------------------------------*/

/* Entire Nav Bar */

.top-bar {
	background-color: #0D47A1;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.top-bar .name h1,
.top-bar .name h2,
.top-bar .name h3,
.top-bar .name h4,
.top-bar .name p,
.top-bar .name span {
	line-height: 4rem;
	font-size: 1.5rem;
}

.top-bar, .top-bar .name h1 {
	height: 4rem;
}

/* Title Area */

ul.title-area {
	padding-left: 15px;
	height: 4rem!important;
}

/* Big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
	ul.title-area {
		padding-left: 36px;
	}

	.top-bar-section {
		padding-right: 15px;
	}
}

ul.title-area h1 {
	font-family: 'Roboto', sans-serif;
}

h1.cloud {
	background: url("../img/svg/cloud.svg") no-repeat left center;
	background-size: 36px 36px;
	padding-left: 36px;
}

.no-svg h1.cloud {
	background-image: url("../img/png/cloud.png") no-repeat left center;
}

/* Right Section */

.top-bar-section {
	height: 4rem;
	line-height: 4rem;
}

.top-bar-section ul.right li a:hover {
	background-color: #000!important;
}

.top-bar-section ul.right li {
	background: none!important;
}

.top-bar-section ul.right li a {
	background: #0D47A1!important;
}

.top-bar-section ul.right li a {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 4rem!important;
}

/* ---------------------------
	Global: Body
------------------------------*/

body {
	background-color: #0D47A1;
}
