/* ---------------------------
	Global: Body
------------------------------*/

body {
	background-color: #f8f8f8;
}

/* ---------------------------
	Global: Main Navigation
------------------------------*/

/* Entire Navigation */

.top-bar {
	background-color: #0D47A1;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.top-bar .name h1,
.top-bar .name h2,
.top-bar .name h3,
.top-bar .name h4,
.top-bar .name p,
.top-bar .name span {
	line-height: 4rem;
	font-size: 1.5rem;
}

.top-bar, .top-bar .name h1 {
	height: 4rem;
}

.top-bar-section {
	line-height: 4rem;
}

/* Title Area */

ul.title-area {
	padding-left: 15px;
	height: 4rem!important;
}

ul.title-area h1 {
	font-family: 'Roboto', sans-serif;
}

/* Cloud Icon */

h1.cloud {
	background: url("../img/svg/cloud.svg") no-repeat left center;
	background-size: 36px 36px;
	padding-left: 36px;
}

/* Right Section */

.top-bar-section ul.right li {
	background: none!important;
}

.top-bar-section ul.right li > a {
	background: #0D47A1!important;
}

.top-bar-section ul.right li > a {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 4rem!important;
}

/* ---------------------------------
	Optimize for Mobile Platforms
------------------------------------*/

@media (min-width:1025px) {

	ul.title-area {
		padding-left: 36px;
	}

	.top-bar-section {
		padding-right: 15px;
	}

}

@media (max-width:900px) {

	ul.posts li {
		width: auto!important;
		height: auto!important;
	}

	ul.pagination {
		margin: 20px auto;
	}

}

@media (max-width:640px) {

	.top-bar-section ul.right li.active > a,
	.top-bar-section ul.right li > a:hover {
		background: #222!important;
	}

	div#underline {
		border-bottom: 5px solid #d72711;
		margin-top: -5px;
	}

	ul#blog li a,
	ul#blog li button {
		padding: 0.3rem 0.8rem;
	}

	ul#blog li:not(.arrow) {
		display: none;
	}

}

@media (min-width:641px) {

	.top-bar-section ul.right li.active > a,
	.top-bar-section ul.right li > a:hover {
		background: rgba(0,0,0,0.3)!important;
	}

	div#underline {
		border-bottom: 2px solid #d72711;
		margin-top: -15px;
	}

}

/* ---------------------------
	Blog: Posts List
------------------------------*/

ul.posts {
	list-style-type: none;
	margin: 20px auto;
	text-align: center;
}

ul.posts li {
	display: inline-block;
	background-color: #fff!important;
	width: 400px;
	height: 270px;
	margin: 20px;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	vertical-align: top;
	text-align: left;
}

ul.posts li span.post-meta {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

ul.posts li h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

ul.posts li h2 > a {
	color: #000!important;

	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

ul.posts li h2 > a:hover {
	color: #008CBA!important;
}

ul.posts li p.excerpt {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
}

/* Card Design */

.card {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.card:before, .card:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	top: 0;
	bottom: 0;
	left: 10px;
	right: 10px;
	-moz-border-radius: 100px / 10px;
	border-radius: 100px / 10px;
}

.card:after {
	right: 10px;
	left: auto;
	-webkit-transform: skew(8deg) rotate(3deg);
	-moz-transform: skew(8deg) rotate(3deg);
	-ms-transform: skew(8deg) rotate(3deg);
	-o-transform: skew(8deg) rotate(3deg);
	transform: skew(8deg) rotate(3deg);
}

/* Pagination */

div.pagination-centered {
	padding-bottom: 20px;
}

ul#blog li a,
ul#blog li button {
	padding: 0.7rem 1.2rem 0.7rem;
	font-size: 1.25em;
	font-family: 'Open Sans', sans-serif;
	border-radius: 30px;
}

ul#blog li.arrow:not(.unavailable) a,
ul#blog li.arrow:not(.unavailable) button {
	color: #000;
}

