/* Particle effect */

.particles-view {
  background-color: #222;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

/* Content */

.container {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.note {
  color: #000;
  margin-top: 35px;
  display: none;
}

.email-btn {
  cursor: pointer;
}

.name-header {
  margin-bottom: 0;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p, i {
  color: #fff;
}

a, a:hover, a:visited, a:active {
  color: #fff;
  text-decoration: none;
}

/* Utilities */

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.space-right { margin-right: 25px; } /* Custom margin for icons */
