<!doctype html>
<html class="no-js" lang="en">

  {% include head.html css="main" %}

  <body>

    {% include nav.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/foundation.min.js"></script>
    <script>
      if (!Modernizr.svg) {
        $("img[src$='.svg']").each(function () {
          $(this).attr("src", $(this).attr("src").replace(/svg/g, "png"));
        });
      }

      $(document).foundation();
    </script>
  
  </body>
</html>
